/*
 * Use this file to set variables
 * All variables and their default values are contained in base/variables.scss
 */
$base-color: #000;
$base-accent-strength: 0.4;
$border-radius: 0px;
$border-width: 0px;
$menu-background: rgba(0,0,0,.5);
$panel-background: rgba(0,0,0,.5);
